

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAeUAAAAJDYzNWY2Y2FkLWM5NGUtNGVjNy1iYjUyLWEwYzk0ZDVjZTIyOA.jpg" class="img-circle" width="100px" height="100px">
        <h1>Sonu Kumar</h1>
        <h3>User Interface / Front-end Developer</h3>
        <br>
        <a href="https://github.com/sonukr" target="_blank" class="btn btn-dark btn-lg" title="Github"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/sonukry" target="_blank" class="btn btn-dark btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://in.linkedin.com/in/krsonu" target="_blank" class="btn btn-dark btn-lg" title="Github"><i class="fa fa-linkedin"></i></a>
        <a href="http://codepen.io/sonukry/" target="_blank" class="btn btn-dark btn-lg" title="Codepan"><i class="fa fa-codepen"></i></a>
        <a href="https://goo.gl/unKXIS" target="_blank" class="btn btn-dark btn-lg" title="Resume"><i class="fa fa-newspaper-o"></i></a>

    </div>
</header>
